.Rproj.user
.Rhistory
*.RData
.Ruserdata
.drake
.drake_history
.DS_Store
old
tmp
.secret
vert.txt
drafts/

# Data
data/
data_raw/

# Raw input
references_raw.bib
references_raw_selected.bib

# Output
*.docx
*.doc
*.pdf
*.html
*.svg
*_cache/
*_files/
*.csv

# latex compile files
*.synctex.gz
*.tex
*.bbl
*.blg
*.dvi
*.rtf
*.aux
*.log

# packrat
packrat/*
!packrat/packrat.lock
