.Rproj.user
.Rhistory
*.RData
.Ruserdata
.drake
old
tmp
.secret

# Raw input
references_raw.bib
references_raw_selected.bib
*.csv

# Output
*.docx
*.doc
*.pdf
*.html
*_cache/
*_files/

# latex compile files
*.synctex.gz
*.tex
*.bbl
*.blg
*.dvi
*.rtf
*.aux
*.log

# packrat
packrat/*
!packrat/packrat.lock
